<p>demo-editor works!</p>

<ng-template #suggestionItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #suggestionSelectionTemplate let-value="value">
  <span contenteditable="false" class="demo-mention-view"
    ><b>{{ value }}</b>
  </span>
</ng-template>

<ng-template #hashtagItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #hashtagSelectionTemplate let-value="value">
  <app-hashtag> #{{ value }} </app-hashtag>
</ng-template>
<h2>From a text below To RTE content</h2>
  <div [innerText]="content"></div>

  <button (click)="onBtnClick('bold')">Bold</button>
  <button (click)="onBtnClick('italic')">Italic</button>
  <button (click)="onBtnClick('heading1')">Heading1</button>

  <button (click)="preloadContent()" style="float: right;">Preload</button>
  <hr/>
<div class="demo-editor">
  <recruitler-rte
    #editor
    [hashtagItemTemplate]="hashtagItemTemplate"
    [hashtagTemplate]="hashtagSelectionTemplate"
    [hashtagResults]="hashtagResults"
    (hashtagRequest)="hashtagSearch($event)"
    placeholder="What's your experience?"
    style="width: 100%;"
    [formControl]="content" />
  
  <hr/>
  
  <custom-embed [content]="embedContent" style="margin: 5px;"> </custom-embed>
</div>
