<p>demo-editor works!</p>


<ng-template #suggestionItemTemplate let-value let-active="active">
    <div class="suggestion-item" [class.selected]="active"><b>{{value}}</b>
    </div>
</ng-template>

<ng-template #suggestionSelectionTemplate let-value="value">
    <span contenteditable="false" class="demo-mention-view"><b>@{{value}}</b>
    </span>
</ng-template>

<ng-template #hashtagItemTemplate let-value let-active="active">
    <div class="suggestion-item" [class.selected]="active"><b>{{value}}</b>
    </div>
</ng-template>

<ng-template #hashtagSelectionTemplate let-value="value">

    <app-hashtag>
        #{{value}}
    </app-hashtag>
</ng-template>

<div class="demo-editor">
    <recruitler-rte #editor  [cdkSuggestionEnabled]="suggestionEnabled"
        [cdkSuggestions]="suggestions" 
        [cdkDefaultToolbarItems]="toolbarItems"
        (cdkContentChanged)="handleContent($event)"
        >
        <h1>Apache Superset</h1>
        Normal Text<br>
        <b>Bold Text</b><br>
        <i>Italic Text</i><br>
        <u>Underline Text</u>
        <h1>Heading1</h1>
        <h2>Heading2</h2>
    </recruitler-rte>
    <hr/>
    <h1>Custom Embed with DOM Santanizer</h1>
    <custom-embed [content]="embedContent">
    </custom-embed>
</div>