<ng-template #suggestionItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #suggestionSelectionTemplate let-value="value">
  <span contenteditable="false" class="demo-mention-view"
    ><b>{{ value }}</b>
  </span>
</ng-template>

<ng-template #hashtagItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #hashtagSelectionTemplate let-value="value">
  <app-hashtag> #{{ value }} </app-hashtag>
</ng-template>

<h2>Recruitler.com's Rich Text Editor</h2>
<!-- <div [innerText]="content"></div> -->
<button (click)="onBtnClick('bold')">Bold</button>
<button (click)="onBtnClick('italic')">Italic</button>
<button (click)="onBtnClick('heading1')">Heading1</button>
<button (click)="toggleDisabled()">
  {{ this.content.enabled ? "enable" : "disable" }}
</button>
<button (click)="preloadContent()" style="float: right">Preload</button>

<div class="demo-editor">
  <recruitler-rte
    #editor
    [hashtagItemTemplate]="hashtagItemTemplate"
    [hashtagTemplate]="hashtagSelectionTemplate"
    (hashtagRequest)="hashtagSearch($event)"
    [hashtagResults]="hashtagResults"
    (uploadImageRequest)="uploadImageRequest($event)"
    [uploadImageResult]="uploadImageResult"
    placeholder="What's your experience?"
    style="width: 100%"
    [formControl]="content"
  />
</div>

<!-- OUTPUT EXAMPLE -->
<div class="output">
  {{ content.value }}
</div>
