.quick-toolbar {

    background-color: cornsilk;
    padding: 5px;
    display: flex;
    justify-content: left;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s opacity;
    border: 1px solid lightblue;

    &>* {
        display: inline-block;
        height: 24px;
        line-height: 24px;
    }

    &>*+* {
        margin-left: 5px;
    }

    // margin: 0 -20px;
    // margin-bottom: 20px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.quick-toolbar.focus {
    opacity: 1;
}

.quick-toolbar.not-focus {
    opacity: 0.5;
}

.quick-toolbar li {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;

}

.quick-toolbar li.active {
    background-color: dodgerblue;
    color: white;
}

.quick-toolbar li:hover {
    background-color: purple;
    color: white;
}